<div class="wrapper wrapper-full-page">
    <div class="full-page">
        <div class="content">
            <div class="container">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-login">
                        <div class="card-header">
                            <div class="card-header">
                                <h3 class="header text-center">Login</h3>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="input-group" [ngClass]="{'input-group-focus': isEmailFocused}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                </div>
                                <input class="form-control" placeholder="First Name..." type="text" (focus)="isEmailFocused = !isEmailFocused" (focusout)="isEmailFocused = !isEmailFocused">
                            </div>
                            <div class="input-group" [ngClass]="{'input-group-focus': isPasswordFocused}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="nc-icon nc-key-25"></i></span>
                                </div>
                                <input class="form-control" placeholder="Password" type="password" (focus)="isPasswordFocused = !isPasswordFocused" (focusout)="isPasswordFocused = !isPasswordFocused">
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input checked="" class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign"></span> Subscribe to newsletter 
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>